/_Arquivos/cardio.csv
/_Arquivos/cardio_train.csv
/_Arquivos/demandas.csv
/_Arquivos/COVID-19/time_series_covid19_confirmed_global.csv
/_Arquivos/COVID-19/time_series_covid19_confirmed_US.csv
/_Arquivos/COVID-19/time_series_covid19_deaths_global.csv
/_Arquivos/COVID-19/time_series_covid19_deaths_US.csv
/_Arquivos/COVID-19/time_series_covid19_recovered_global.csv
/_Arquivos